/*  SEZIONE HEADER  */
.up-header{
    height: 30px;
    width: 100%;
}

.up-header img{   
    width: 5%;
}







/* sezione contatti social */
.contatti-social{
    background-color: rgb(203, 243, 164);
    height: 300px
}



/* SEZIONE FOOTER */
.bcg-footer{
    background-color: #00439c;
}

.item-up-footer img{   
    width: 95px;
}

.img-down-footer{    
    width: 190px;
}
