/* COMMON */
.py_35{
    padding: 35px 0;
}

.py_100{
    padding: 100px 0;
}

.pt_50{
    padding-top: 50px;
}


/*  SEZIONE HEADER  */
.up-header{
    height: 30px;
    width: 100%;
}

.up-header img{   
    width: 5%;
}

/* SEZIONE MAIN */

.bcg-ps-plus{
    background-color: #bebcbb;
}


/* sezione ps store */
.item-img-store{
    width: 90%;
}


/* sezione playstation now */
.bcg-ps-now{
    background-color:#161c3b;
}
.img-sx-ps-now{
    width: 60%;
    height: 80px;
}
.img-dx-ps-now{
    width: 100%;
}


/* sezione contatti social */
.icon-img-social{
    width: 150px;
    height: 150px;
}

.item-img-social{
    width: 100%;    
}

/* SEZIONE FOOTER */
.bcg-footer{
    background-color: #00439c;
}

.item-up-footer img{   
    width: 95px;
}

.img-down-footer{    
    width: 190px;
}
