/* COMMON */
.py_35{
    padding: 35px 0;
}

.py_100{
    padding: 100px 0;
}



/*  SEZIONE HEADER  */
.up-header{
    height: 30px;
    width: 100%;
}

.up-header img{   
    width: 5%;
}

/* SEZIONE MAIN */




.bcg-ps-now{
    background-color:#161c3b;
}




/* sezione contatti social */

.icon-img{
    width: 150px;
    height: 150px;
}

.item-img{
    width: 100%;    
}


/* SEZIONE FOOTER */
.bcg-footer{
    background-color: #00439c;
}

.item-up-footer img{   
    width: 95px;
}

.img-down-footer{    
    width: 190px;
}
